
* {
    transition: 0.1s;
}

/* Standard-Design */
body {
    overflow: hidden;
    font-family: sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
    background-image: url('bg_hell.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

#header {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    position: fixed;
    top: 0px;
    width: 100vw;
}

#footer {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-area: footer;
    position: fixed;
    bottom: 0px;
    width: 100vw;
}

.logo img {
    height: 50px;
}

nav {
    position: relative;
    left: -50px;
}

nav button {
    margin-left: 10px;
}

#main {
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    grid-area: main;
}

aside h2 {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    margin: 0;
}


aside {
    width: 50%;
    padding: 20px;
    background-color: rgba(223, 206, 206, 0.5);
    border-radius: 10px;
    margin-right: 20px;
    height: 70%;
    overflow-y: auto;
}

aside:last-child {
    margin-right: 0;
}


th, td {
    padding: 8px;
    text-align: left;
}


a, button:hover, table tr:hover {
    color: red;
}

/* Footer-Spalten-Styling */
#footer .track-info {
    text-align: left;
}

#footer #audioPlayer {
    width: 100%;
}

#footer #new-song {
    text-align: center;
    width: 200px;
    margin-left: 10%;
}

/* Button-Styling für globale Tabelle */
.add-to-playlist-button {
    background-color: rgba(223, 206, 206, 0.5);
    border: 1px solid #444040;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-to-playlist-button:hover {
    color: red;
    border-color: red;
    background-color: rgba(138, 129, 129, 0.5);
}

/* Button-Styling für User Tabelle */
.delete-playlist-button {
    background-color: rgba(223, 206, 206, 0.5);
    border: 1px solid #444040;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-playlist-button:hover {
    color: red;
    border-color: red;
    background-color: rgba(138, 129, 129, 0.5);
}

/* ========== DARK MODE ========== */

.dark-mode .logo img {
    content: url('logo_dunkel.png');
}

.dark-mode {
    background-image: url('bg_dunkel.png');
    color: white;
}

.dark-mode #header, 
.dark-mode #footer {
    background-color: #2E2E2E;
}

.dark-mode #main {
    background-color: rgba(50, 50, 50, 0.8); 
}

.dark-mode table {
    color: white;
}

.dark-mode button {
    background-color: rgba(100, 100, 100, 0.8);
    color: white;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 2px;
}

/* YOUTUBE API */

#new-song {
    background-color: rgb(216, 100, 100);
    color: white;
    border-radius: 5px;
}

#new-song:hover {
    background-color: rgb(194, 38, 38);
    color: white;
    border-radius: 5px;
}