body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('bg_hell.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header, footer {
    background-color: white;
    padding: 10px 20px;
    text-align: center;
    
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}


footer {
    width: 100vw;
    bottom: 0px;
    position: bottom;
    position: fixed;
}

.logo img {
    height: 50px;
}


nav button {
    margin-left: 10px;
}


main {
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    
}


aside {
    width: 50%; /* Breite angepasst, um zwei Listen nebeneinander darzustellen */
    padding: 20px;
    background-color: rgba(223, 206, 206, 0.5);
    border-radius: 10px;
    margin-right: 20px; /* Abstand zwischen den Listen */
    overflow-y: auto; /* Vertikales Scrollen aktivieren */
}


aside:last-child {
    margin-right: 0; /* Kein Abstand nach der letzten Liste */
}


table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
}


a, button:hover, table tr:hover {
    color: red;
}